
* {
    box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto; 
}
.container {
  max-width: 120ch !important;

}

.parent-flex {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  column-gap: 1em; 
}

.wp-block-group {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.wp-block-group > * {
    grid-row: 1 / 4;
}

.wp-block-button.is-style-cpl-button--action.wp-block-button__link,
.is-style-cpl-button--action .wp-block-button__link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1em;
  font-weight: 600;
  padding: 0.75em 1.5em;
  border-radius: 0 0 0 0;
  background-color: #FCCE06;
  color: #000;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word; }
  .wp-block-button.is-style-cpl-button--action.wp-block-button__link:hover, .wp-block-button.is-style-cpl-button--action.wp-block-button__link:focus, .wp-block-button.is-style-cpl-button--action.wp-block-button__link:active, .wp-block-button.is-style-cpl-button--action.wp-block-button__link:visited,
  .is-style-cpl-button--action .wp-block-button__link:hover,
  .is-style-cpl-button--action .wp-block-button__link:focus,
  .is-style-cpl-button--action .wp-block-button__link:active,
  .is-style-cpl-button--action .wp-block-button__link:visited {
    box-shadow: inset 0 0 0 2px;
    text-decoration: underline; }

.wp-block-buttons > .wp-block-button {
  margin-top: .75rem;
  margin-bottom: .75rem; }
