.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2% 2%;
    /* grid-template-areas:
    "event-wide event-wide"
    "slot-time slot-time";
   */
  }

  /* .event-wide 
  {
    grid-area: event-wide; 
  }
   */
  .slot-time {
    border: 1px solid black;
    display: grid;
    grid-template: 1fr; 
    margin: .25em;
    justify-items: center;
    align-items: start; 
    background-color: rgba(140, 203, 139, 0.2);
  }
  
  .session {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;
    
  }
  
  .session-title {
    font-weight: 700; 
  }
  
  .presenter {
    font-weight: 600;
    margin-top: 1em; 
  }
  
  .description {
    margin-top: 1em;
  }
  